body {
	background-color: #f2f2f2;
	margin: 0;
	font-family: tahoma;
	color: #282828;
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 25px;
}

p {
	font-size: 22px;
}

img {
	border: 2px solid #d8d8d8;
	width: 70%;
	margin: 32px;
	padding: 16px;
	box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

li {
	font-size: 18px;
}

button {
	margin: 32px;
	background-color: #39495c;
	border-radius: 4px;
	font-size: 18px;
	width: 160px;
	height: 60px;
	color: white;
	padding: 20px;
	text-align: center;
	cursor: pointer;
}

.product-display {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.product-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.product-image,
.product-info {
	width: 50%;
}

.cart {
	margin: 25px 100px;
	float: right;
	border: 1px solid #d8d8d8;
	padding: 10px 30px;
	background-color: white;
	box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

@media only screen and (max-width: 600px) {
	.container {
		flex-direction: column;
	}
}
